{% extends 'home/navBar.html.twig' %}

{% block title %}Inscription - La Broudoute{% endblock %}

{% block content %}
    <div class="register-form-container">
        <h1>Inscription</h1>

        {{ form(form)}}
	</div>
{% endblock %}
