{% extends 'home/navBar.html.twig' %}

{% block title %}Inscription - La Broudoute{% endblock %}

{% block content %}
    <div class="register-form-container">
        <h1>Inscription</h1>

        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
        <hr>
        {{ form(form)}}
	</div>
{% endblock %}
