.back-purchase-link a {
    text-decoration: none;
    color: #f1e4d8;
    margin-bottom: 100px;
}

@media (max-width: 500px) {
    .table td, .table th {
        padding: 0.75rem;
        vertical-align: top;
        border-top:none;
    }
   .cart-summary > tbody > tr {
        border: 2px solid #f1e4d8;
        margin-bottom: 20px;
        padding: 20px;
        width: 100%;
        position: relative;
    }

    .cart-summary > thead > tr {
        display: none;
    }

    .cart-summary tr, .cart-summary td {
        display: inline-block;
    }

    .cart-summary > tbody .cart-border {
        border : 1px solid #f1e4d8;
        position: absolute;
        right: 50px;
        top: 20px;
    }

    .cart-summary > tbody .cart-description {
        width: 150px;
        height: 60px;
        position: absolute;
        right: 50px;
        top: 20px;
        overflow: hidden;
    }

    .cart-summary > tbody .cart-unit-price {
        position: absolute;
        right: 100px;
        top: 80px;
    }

    .cart-summary > tbody .cart-total-price {
        position: absolute;
        right: 80px;
        top: 150px;
        font-weight: bold;
        font-size: 21px;
    }

     .cart-summary > tbody .cart-quantity {
        position: absolute;
        right: 180px;
        top: 150px;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 21px;
    }  

    .cart-summary > tbody td .cart-delete img {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px; 
    }

    .cart-delete img {   
        width: 25px;
        height: auto;
        display: block;
    }
}
