body {
    position: relative;
    background-image: url("../pictures/background2.jpg");
    width: 100%;
    height: 100%;
    z-index: 1;
}

.navbar-item-custom, .navbar-item-custom a{
	color: #fff;
}

.footer-custom {
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
    margin-top: 50px;
}

.product-container {
    margin-bottom: 120px;
}

.product-item {
    margin-top: 50px;
}
.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
}

.product-item .product-subtitle,
.product-item .product-price {
    font-size: 15px;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-weight: bold;
}

.product-page-price {
    font-size: 20px;
}

/* base.html */

.cart-icone {
    width: 15px;
    height: 15px;
}

/* login.html.twig && register/index */
.block-small {
    max-width: 600px;
    margin: 0 auto;
}
/* products/index */
#categories {
    background-color: #e0e0e0d8;
    padding: 15px;    
}

/* order/index */
/* cf orderType*/
.order-form {
    background-color: #f4f8ff;
    padding: 20px 65px;    
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 12px;
}
