{% extends 'base.html.twig' %}

{% block title %}Inscription - La Broudoute{% endblock %}

{% block content %}
    <div class="block-small">
        <h1>Inscription</h1>

        {{ form(form)}}
	</div>
{% endblock %}
